
ul{
    list-style: none;

}
a{
    text-decoration: none;
}

.ablogo{
	width:10px ;
	height:10px ;
}





nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
    

}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #000000;
}
nav ul{
	display: flex;
}
.active{
    background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}
.active:hover{
    background-color: #000000;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}
nav ul li a{
    font-family: 'Lato';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: skyblue;
    color:#3a0202;
	box-shadow: 5px 10px 30px rgba(95, 95, 94, 0.336);
	transition: all ease 0.4s;

}
nav .menu-btn,
.menu-icon{
		display:none;
	}

	.ablogo {
		width:60px ;
		height: 60px ;
	}
  
	@media all and (max-width: 399px) and (min-width: 100px)  {

		nav{

			background-color:rgb(32,33,36);
			width:99% ;
			margin-left: 0px;
		}
		.menu {
			margin-left: -200px;
		}
		nav ul li a{
			font-family: 'Lato';
			height:20px;
			line-height: 43px;
			margin: 2px;
			padding: 0px 2px;
		
			display: flex;
			align-items: center;
			font-size: 0.4rem;
			text-transform: uppercase;
			font-weight: 500;
			color:#ffffff;
			letter-spacing: 1px;
			border-radius: 3px;
			transition: 0.2s ease-in-out;
		}
		nav ul li a:hover{
			background-color: skyblue;
			color:#3a0202;
			box-shadow: 5px 10px 30px rgba(95, 95, 94, 0.336);
			transition: all ease 0.4s;
		
		}

		.ablogo{
			width:35px ;
			height:35px ;
			margin-left: -60px;
		}
	}


	@media all and (max-width: 600px) and (min-width: 400px)  {

		nav{

			background-color:rgb(32,33,36);
			width:100% ;
		}
		.menu {
			margin-left: -150px;
		}
		nav ul li a{
			font-family: 'Lato';
			height:20px;
			line-height: 43px;
			margin: 2px;
			padding: 0px 2px;
		
			display: flex;
			align-items: center;
			font-size: 0.5rem;
			text-transform: uppercase;
			font-weight: 500;
			color:#ffffff;
			letter-spacing: 1px;
			border-radius: 3px;
			transition: 0.2s ease-in-out;
		}
		nav ul li a:hover{
			background-color: skyblue;
			color:#3a0202;
			box-shadow: 5px 10px 30px rgba(95, 95, 94, 0.336);
			transition: all ease 0.4s;
		
		}

		.ablogo{
			width:35px ;
			height:35px ;
		}
	}


	@media screen and (max-width :768px) {
		.menu{
			flex-direction: column;
			background-color: var(--appColor);
			padding: 2rem;
		}
	}